body {
  background-color: #fddeef;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
  font-size: 36px;
}

h2 {
  margin: 0 0 10px;
  font-size: 28px;
}

select {
  display: block;
  width: 100%;
  font-size: 15px;
  padding: 10px;
  border-radius: 4px;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background: #fff1f0;
  padding: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 10px;
}

.city {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 40px;
  font-weight: bold;
}

.time small {
  font-size: 18px;
  vertical-align: middle;
  line-height: 36px;
}

footer {
  text-align: center;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
}
